services:
  redis:
    image: redis:7-alpine
    container_name: redis_broker

  web:
    build: .
    container_name: django_app
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - redis
    environment:
      CELERY_BROKER_HOST: redis

  celery_worker:
    build: .
    container_name: celery_worker
    command: celery -A backend worker -l info
    volumes:
      - .:/app
    depends_on:
      - redis
      - web

  celery_beat:
    build: .
    container_name: celery_beat
    command: celery -A backend beat -l info
    volumes:
      - .:/app
    depends_on:
      - redis
      - web
